:root {
	--root-metric: 16px;
	--footer-height: calc(var(--root-metric) * 7);
	--button-height: calc(var(--root-metric) * 5);
}
html, body, button > svg { 
    width: 100%; height: 100%; margin: 0; padding: 0;
}
body { 
    background: #F0FFFF; 
}
video { 
	height: calc(100vh - var(--footer-height)); 
	width: 100vw;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: var(--footer-height);
	display: flex;
	flex-flow: row nowrap;
	align-content: stretch;
	align-items: center;
	justify-content: space-evenly;
	background: linear-gradient(2.7rad, #48d1CC, #20B2aa);
	border-top: 1px solid #48d1CC;
}
button {
	flex: .24;
	padding: 0;
	height: var(--button-height);
	background: #E0FFFF;
	border: 2px solid #E0FFFF;
	border-radius: 8px;
	font-size: 24px;
	color: #48d1CC;
	cursor: pointer;
}
button:hover {
	background: #aFEEEE;
	border: 2px solid #aFEEEE;
}
button:active { 
    color: #008080; 
}
button > svg > * {
	stroke: #00Ced1;
	fill: #008080;
	stroke-width: 0.06;
}